@page "/"

<PageTitle>CB | Homepage'</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. This is a renewal of the knowledgebase we've known before

<h2>This is the link for the counter</h2>
<Counter IncrementAmount="10"/>
