@page "/"

<PageTitle>CB | Homepage'</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. This is a renewal of the knowledgebase we've known before
<br />
<br />
<h2>This is the link for the counter</h2>
<p>This is an effort to call the counter component into the fray</p>
<br />
<Counter></Counter>
<br />
<br />